<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Frio.mx</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    <div class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
            <div class="container" >
                <div class="navbar-brand">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="true" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    @Html.ActionLink("Frio.mx", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse"  id="navbarToggleExternalContent">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item active">@Html.ActionLink("Inicio", "Index", "Home",new { }, new { @class= "nav-link" })</li>
                        @*<li class="nav-item active">@Html.ActionLink("Acerca de", "About", "Home", new { }, new { @class = "nav-link" })</li>
                        <li class="nav-item active">@Html.ActionLink("Administradores", "Index", "Administradores", new { }, new { @class = "nav-link" })</li>*@
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>

  
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year Frio.mx by Nesgar</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
